/* footer container */
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: linear-gradient(to right, #a446a4, #83a5be);
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #e54d24, #e54d24);
  z-index: -1;
  transition: opacity 5s ease-in-out;
  opacity: 0;
}

@keyframes gradient {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer::before {
  animation: gradient 10s infinite;
}
