/* Header container */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4%;
  background: linear-gradient(to right, #a446a4, #83a5be);
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #e54d24, #e54d24);
  z-index: -1;
  transition: opacity 5s ease-in-out;
  opacity: 0;
}

@keyframes gradient {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header::before {
  animation: gradient 10s infinite;
}

/* Icon */
.icon {
  display: inline-block;
}

.icon:hover {
  animation: shake 0.5s, adeOut 2s ease-out forwards;
  animation-iteration-count: infinite;
}

.icon::before {
  content: "🤯";
  font-size: 30px;
  animation: blinker 20s linear normal;
}

@keyframes blinker {
  0% {
    content: "😁";
  }
  6% {
    content: "😄";
  }
  12% {
    content: "😅";
  }
  18% {
    content: "😃";
  }
  24% {
    content: "😀";
  }
  30% {
    content: "🙂";
  }
  36% {
    content: "🙃";
  }
  42% {
    content: "🙂";
  }
  48% {
    content: "😐";
  }
  54% {
    content: "😕";
  }
  60% {
    content: "🙁";
  }
  66% {
    content: "😞";
  }
  72% {
    content: "😔";
  }
  78% {
    content: "🫣";
  }
  84% {
    content: "🤔";
  }
  90% {
    content: "😦";
  }
  96% {
    content: "😮";
  }
  100% {
    content: "🫨";
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
😁😄😅😃😀🙂🙃🤨🧐😕🙁😞😔🫣🤔😦😮😮(shift)🫨😶‍🌫️🤯

 */
