.title {
  --s: 0.1em; /* the thickness of the line */
  --c: #ffffff; /* the color */

  color: #ffffffb2;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #ffffff 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  white-space: nowrap;
}

.title:hover {
  --_p: 100%;
}

/* body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
} */

.title {
  font-family: system-ui, sans-serif;
  font-size: 4rem;
  cursor: pointer;
  margin: 2vh;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 50px;
  width: 25rem;
  height: 55vh;
  background-color: rgba(255, 255, 255, 0.441);
  border: 8px solid;
  border-image: repeating-linear-gradient(
      135deg,
      #f8ca00 0 10px,
      #e97f02 0 20px,
      #bd1550 0 30px
    )
    8;
  -webkit-mask: conic-gradient(
        from 180deg at top 8px right 8px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}

.contact:hover {
  --_i: 100%;
  color: #cc333f;
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}

.services {
  text-align: center;
}

.selectbox select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border: 3px solid black;
}

.selectbox::before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.selectbox:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.selectbox select option {
  padding: 30px;
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  body {
  }
} */

/* Tablets and Larger Phones */
/* @media (min-width: 401px) and (max-width: 700px) {
  body {
  }
} */

/* Most Phones */
@media (max-width: 401px) {
  .contact {
    width: 21rem;
  }
}
